@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	ont: 100%/1.4 Optima, sans-serif;
}
.homePage {
	background: #fea601;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #72888c;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #72888c;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FFDE82;
	margin: 10px;
	padding:5;
	float: left;
	width: 100%;
	text-align:left;
}
.footer {
	background: #72888c;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #000000;
}
a:visited {
     color: #000000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
