@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	ont: 100%/1.4 Optima, sans-serif;
}
.homePage {
	background: #222222;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #EB7915;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #FFB931;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FFDE82;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #D0E7F1;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #C3E0E7;
}
a:visited {
     color: #C3E0E7;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
